.menu {
	--items-padding: 12px;
	position: fixed;
	inset: var(--header-block-size) 0;
	display: grid;
	block-size: calc(100dvh - var(--header-block-size));
	padding-inline: var(--items-padding);
	background-color: var(--color-background);
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: visibility 300ms, opacity 300ms, background-color 150ms;
}

.menu.open {
	visibility: visible;
	opacity: 1;
}

.navList {
	padding-block: 24px 48px;
	list-style: none;
	padding-inline-start: 0;
}

.navLink {
	display: flex;
	align-items: center;
	block-size: 48px;
	padding-inline: var(--items-padding);
	color: var(--color-text-secondary);
}

.optionsWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	margin-block-start: auto;
}

.contactButton {
	margin-inline: var(--items-padding);
}

.themeWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	block-size: 72px;
	padding-inline: var(--items-padding);
	color: var(--color-text-secondary);
	border-block-start: 1px dashed var(--color-stroke);
}

.button {
	--size: 32px;
	display: grid;
	justify-items: center;
	align-content: center;
	row-gap: 8px;
	inline-size: var(--size);
	block-size: var(--size);
	margin-inline-start: auto;
	background-color: transparent;
	padding-inline: 0;
	-webkit-tap-highlight-color: transparent;
}

.buttonLine {
	inline-size: 80%;
	block-size: 3px;
	border-radius: 2px;
	background-color: currentColor;
	transform-origin: 7px;
	transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button.open > .buttonLine:first-of-type {
	transform: rotateZ(45deg) translate(2px);
}

.button.open > .buttonLine:last-of-type {
	transform: rotateZ(-45deg) translate(2px);
}

@media screen and (min-width: 769px) {
	.button,
	.menu {
		display: none;
	}
}
