.wrapper {
	padding-inline: var(--space-inline);
	padding-block-start: 40px;
}

.title {
	font-size: clamp(50px, 18.448px + 8.414vw, 80px);
	font-weight: 900;
}

.tagsWrapper {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	padding-block-start: 20px;
}

.tagPill {
	display: inline-flex;
	padding: 4px 12px;
	font-size: 14px;
	font-weight: 500;
	background-color: hsl(var(--color-text-hsl) / 0.1);
	border-radius: 1rem;
}

.detailsSection {
	padding-block-end: 50px;
}

.linksWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding-block-start: 20px;
}

.image {
	inline-size: 100%;
	block-size: auto;
	border: 1px solid var(--color-stroke);
	transition: border-color var(--theme-transition-duration);
}

.mobileImages,
.desktopImages {
	--items-spacing: 50px;
	display: flex;
	flex-direction: column;
	row-gap: var(--items-spacing);
}

.mobileImages {
	padding-block-end: var(--items-spacing);
}

.nav {
	--stroke-width: 1px;
	display: flex;
	column-gap: var(--stroke-width);
	padding-block-start: var(--stroke-width);
	margin-block-start: 100px;
	background-color: var(--color-stroke);
	transition: background-color var(--theme-transition-duration);
}

.navLink {
	flex: 1;
	padding-block: clamp(50px, 42.72px + 1.942vw, 80px);
	font-size: clamp(28px, 17.808px + 2.718vw, 70px);
	font-weight: 900;
	text-align: center;
	background-color: var(--color-background);
	transition: inherit;
}

.navLink::before {
	content: attr(data-text);
	position: absolute;
	color: transparent;
	-webkit-text-stroke: 1px hsl(var(--color-text-hsl) / 0.6);
	transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navLink:hover::before {
	transform: scale(1.15);
}

@media screen and (min-width: 768px) {
	.wrapper {
		max-inline-size: var(--max-inline-size);
		margin-inline: auto;
		padding-block-start: 100px;
	}

	.topWrapper {
		display: flex;
		column-gap: 100px;
	}

	.detailsSection {
		overflow: auto;
		flex: 1 0 50%;
		align-self: flex-start;
		position: sticky;
		inset-block-start: calc(var(--header-block-size) + 32px);
		padding-block-end: 100px;
	}

	.mobileImages,
	.desktopImages {
		--items-spacing: 100px;
	}

	.nav {
		margin-block-start: 150px;
	}
}
