.article {
	max-inline-size: 775px;
	padding: 0 var(--space-inline) 100px;
	margin-inline: auto;
	font-size: 19px;
}

.article pre {
	max-block-size: 75vh;
	padding: 24px;
	margin-block: 40px;
	font-size: 16px;
	border-radius: 6px;
	tab-size: 2;
	overflow-x: auto;
}

.article h2 {
	margin-block: 64px 32px;
}

.article h3 {
	margin-block: 64px 12px;
}

.article p {
	margin-block-end: 18px;
}

.article img {
	block-size: auto;
	margin-block: 32px 48px;
	margin-inline: auto;
	border-radius: 5px;
}

.article ul,
.article ol {
	margin-block-end: 32px;
}

.article ul {
	list-style: "⟡  ";
}

.greetings {
	padding-block: 24px;
	font-size: 20px;
	font-style: italic;
}

@media screen and (max-width: 768px) {
	.article {
		font-size: 18px;
	}

	.article pre {
		padding-inline: 16px;
		margin-inline: -24px;
		font-size: 14px;
		border-radius: 0;
	}
}
