.card {
	--border-radius: 8px;
	position: relative;
}

.link {
	position: absolute;
	inset: 0;
	z-index: 1;
	font-size: 0;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.imageWrapper {
	overflow: hidden;
}

.image {
	inline-size: 100%;
	block-size: auto;
	border-radius: var(--border-radius);
	filter: saturate(0);
	transition: filter 250ms ease-in-out, transform 250ms ease-in-out;
}

.link:focus-visible + .imageWrapper > .image,
.card:hover .image {
	filter: none;
}

.card:hover .image {
	transform: scale(1.05);
}

.title {
	padding-block-start: 12px;
}
