.card {
	--line-offset: 1px;
	position: relative;
	display: grid;
	justify-items: center;
	align-content: center;
	aspect-ratio: 1 / 1;
}

.wrapper {
	position: relative;
	display: grid;
	place-items: center;
	row-gap: 12px;
}

.card::before,
.card::after {
	content: "";
	position: absolute;
	background-color: var(--color-stroke);
	z-index: 1;
	transition: background-color var(--theme-transition-duration);
}

.card::after {
	inline-size: 100vw;
	block-size: 1px;
	inset-inline-start: 0;
	inset-block-start: calc(var(--line-offset) * -1);
}

.card::before {
	block-size: 100vh;
	inline-size: 1px;
	inset-block-start: 0;
	inset-inline-start: calc(var(--line-offset) * -1);
}

.iconWrapper {
	transition: color var(--theme-transition-duration);
}

.card:hover .iconWrapper {
	color: var(--color-brand, var(--color-text-secondary));
}

.skillName {
	font-size: 14px;
}

@media (hover: hover) {
	.skillName {
		position: absolute;
		inset-block-end: -1.5lh;
		inset-inline-start: 50%;
		text-wrap: nowrap;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity 150ms;
	}

	.card:hover .skillName {
		opacity: 1;
	}
}
