.moon {
	transform-origin: center;
}

[data-theme="dark"] .moon > circle {
	transform: translate(-7px);
}

@supports (cx: 1) {
	[data-theme="dark"] .moon > circle {
		cx: 17;
		transform: translate(0);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.moon > circle {
		transition: transform 250ms var(--ease-out-5);
	}

	[data-theme="dark"] .moon > circle {
		transition-delay: 250ms;
		transition-duration: 500ms;
	}

	@supports (cx: 1) {
		.moon > circle {
			transition: cx 250ms var(--ease-out-5);
		}
	}
}
