.section {
	text-align: center;
	padding-block-end: var(--space-block);
}

.phrase {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
	padding: var(--space-inline);
	color: var(--color-text-secondary);
}

.availableCircle {
	--size: 8px;
	--color-background: hsl(126 38% 48%);
	position: relative;
	inline-size: var(--size);
	block-size: var(--size);
	border-radius: 50%;
	background: var(--color-background);
}

.availableCircle::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50%;
	box-shadow: 0 0 0 0 var(--color-background);
	animation: circle-pulse 2s infinite;
}

:is(.title, .introSubtitle) {
	transition: border-color var(--theme-transition-duration);
}

.title {
	padding: var(--space-inline) 12px;
	font: 900 clamp(42px, 34.4px + 2.375vw, 80px) / 1 var(--font-geist-sans);
	background-image: var(--text-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-block: 1px dashed var(--color-stroke);
}

.title::selection {
	background-clip: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: initial;
}

.introSubtitle {
	padding: var(--space-inline);
	font-size: clamp(18px, 17.296px + 0.141vw, 20px);
	color: var(--color-text-secondary);
	border-block-end: 1px dashed var(--color-stroke);
}

.introSubtitle > strong {
	color: var(--color-text);
	font-weight: 500;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: var(--space-inline);
}

.copyEmailButton {
	align-self: center;
}

@media screen and (min-width: 575px) {
	.actions {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-inline-size: 580px;
		margin-inline: auto;
	}

	.actionBtn {
		flex: 1 0 250px;
	}
}

@media screen and (min-width: 768px) {
	.section {
		inline-size: fit-content;
		padding-block: var(--space-block);
		margin-inline: auto;
	}
}

@keyframes circle-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsl(126 38% 48% / 0.9);
	}
	50% {
		transform: scale(1);
		box-shadow: 0 0 0 8px hsl(126 38% 48% / 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsl(126 38% 48% / 0);
	}
}
