:root {
	--ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-3: var(--ease-elastic-out-3);
	--ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-4: var(--ease-elastic-out-4);
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--header-block-size: 64px;
	--footer-block-size: 100px;
	--space-inline: 24px;
	--space-block: 32px;
	--max-inline-size: 1400px;
	--theme-transition-duration: 150ms;

	scrollbar-color: hsl(var(--color-text-hsl) / 0.8) var(--color-background);
	scrollbar-width: thin;
	font-size: 16px;
}

[data-theme="light"] {
	--color-background-hsl: 0 0% 93%;
	--color-text-hsl: 0 0% 1%;
	--color-stroke-hsl: 0 3% 84%;

	--color-primary: hsl(212 100% 48%);
	--color-text: hsl(0 0% 1%);
	--color-text-secondary: hsl(0 0% 40%);
	--color-background: hsl(0 0% 93%);
	--color-themed-background: hsl(0 0% 93%);
	--color-background-secondary: hsl(0 0% 62%);
	--color-stroke: hsl(0 2% 76%);
	--color-themed-stroke: hsla(0 0 0 / 0.08);

	--text-gradient: linear-gradient(180deg, hsl(0 0% 33%), hsl(0 0% 0%));
}

[data-theme="dark"] {
	--color-background-hsl: 0 0% 1%;
	--color-text-hsl: 0 0% 93%;
	--color-stroke-hsl: 0 0% 12%;

	--color-primary: hsl(212 100% 48%);
	--color-text: hsl(0 0% 93%);
	--color-text-secondary: hsl(0 0% 62%);
	--color-background: hsl(0 0% 1%);
	--color-themed-background: hsl(0 0% 4%);
	--color-background-secondary: hsl(0 0% 6%);
	--color-stroke: hsl(0 0% 12%);
	--color-themed-stroke: hsl(0 0% 100% / 0.14);

	--text-gradient: linear-gradient(180deg, hsl(0 0% 100%), hsl(0 0% 68%));
}

::selection {
	background-color: var(--color-primary);
	color: hsl(0 0% 100%);
}

:focus-visible {
	outline: 2px solid hsl(210 100% 66%);
	outline-offset: 2px;
}

body {
	text-rendering: optimizeSpeed;
	accent-color: var(--color-primary);
	color: var(--color-text);
	background-color: var(--color-background);
	transition: color var(--theme-transition-duration),
		background-color var(--theme-transition-duration);
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

button,
a {
	border-radius: 1px;
}

.__next {
	isolation: isolate;
}

@media screen and (min-width: 768px) {
	:root {
		--space-inline: 32px;
		--space-block: 90px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}
}
