.title {
	text-align: center;
}

.aboutMeWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	max-inline-size: 60ch;
	margin: 32px auto 0;
	font-size: clamp(1.125rem, 1.034rem + 0.388vw, 1.5rem);
}
