.card {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 12px 24px;
	padding: 24px;
	border: 1px solid var(--color-stroke);
	border-radius: 12px;
	transition: background-color 150ms, border-color var(--theme-transition-duration);
}

.card:hover {
	background-color: var(--color-background-secondary);
}

.linkWrapper {
	position: absolute;
	inset: 0;
	z-index: 1;
	border-radius: 12px;
}

.infoWrapper {
	flex: 1 1 300px;
}

.title {
	padding-block-end: 8px;
}

.emoji {
	font-size: 55px;
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .emoji {
	transform: scale(1.15);
}
