.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 4px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 6px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 150ms;
}

.primary {
	background-color: var(--color-text);
	color: var(--color-background);
}

.primary:active {
	background-color: hsl(var(--color-text-hsl) / 0.8);
}

.outlined {
	--hover-color-background: hsl(0 0% 88%);
	--hover-color-stroke: hsl(0 0 0 / 0.12);
	background-color: var(--color-themed-background);
	color: var(--color-text);
	border: 1px solid var(--color-themed-stroke);
	transition-property: background-color, border-color;
}

[data-theme="dark"] .outlined {
	--hover-color-background: hsl(0 0% 12%);
	--hover-color-stroke: hsl(0 0% 100% / 0.17);
}

.outlined:active {
	background-color: var(--hover-color-background);
	border-color: var(--hover-color-stroke);
}

@media (hover: hover) {
	.primary:hover {
		background-color: hsl(var(--color-text-hsl) / 0.8);
	}

	.outlined:hover {
		background-color: var(--hover-color-background);
		border-color: var(--hover-color-stroke);
	}
}

.large {
	block-size: 48px;
	padding-inline: 14px;
	font-size: 16px;
}

.medium {
	block-size: 40px;
	padding-inline: 16px;
	font-size: 14px;
}

.small {
	block-size: 32px;
	padding-inline: 12px;
	font-size: 14px;
}
