.button {
	position: relative;
	padding-inline: 12px;
	color: var(--color-text-secondary);
	border-radius: 30px;
	cursor: copy;
}

.button:hover > .showIcon {
	transition: opacity 200ms;
}

.button:is(:hover, :focus-visible) > .showIcon {
	opacity: 1;
}

.button:focus-visible > .showIcon {
	inset-inline-end: -28px;
}

.icon {
	--size: 16px;
	position: absolute;
	inset-block: 0;
	inset-inline-end: -16px;
	margin-block: auto;
	inline-size: var(--size);
	block-size: var(--size);
	opacity: 0;
}
