.section {
	padding: var(--space-block) var(--space-inline);
	border-block-start: 1px dashed var(--color-stroke);
	transition: border-block-start-color 150ms;
}

.title {
	display: flex;
	flex-direction: column;
	font-size: clamp(34px, 8.8px + 7.875vw, 160px);
	font-weight: 900;
	line-height: normal;
}

.title > span:last-of-type {
	align-self: flex-end;
}
