.messageCard {
	padding: 12px;
	text-align: center;
	border: 1px solid;
	border-radius: 8px;
	font-size: 14px;
	border-color: hsl(var(--color-hsl));
	background-color: hsl(var(--color-hsl) / 0.2);
}

.success {
	--color-hsl: 194 100% 43%;
}

.error {
	--color-hsl: 349 100% 43%;
}
