.wrapper {
	--safe-space: 5px;
	display: grid;
	justify-items: center;
	align-content: center;
	min-block-size: var(--max-content-block-size);
	padding-block: 32px;
}

.title {
	font-size: clamp(150px, 137.872px + 3.236vw, 200px);
	line-height: 1;
}

.description {
	font-size: 20px;
	padding-block-end: 24px;
}
