.overlay {
	position: fixed;
	inset: 0;
	background-color: hsl(0 0 0% / 0.6);
	animation: overlay-show 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="closed"].overlay {
	animation: overlay-hide 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.content {
	position: fixed;
	inset: 0;
	padding: 25px;
	margin: auto;
	inline-size: min(500px, 90vw);
	block-size: fit-content;
	max-block-size: 85vh;
	background-color: var(--color-background);
	border-radius: 12px;
	border: 1px solid var(--color-stroke);
	overflow-y: auto;
	scrollbar-width: thin;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation: content-show 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="closed"].content {
	animation: content-hide 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.close {
	--size: 20px;
	display: grid;
	place-content: center;
	position: absolute;
	inset-block-start: 16px;
	inset-inline-end: 16px;
	inline-size: var(--size);
	block-size: var(--size);
	opacity: 0.75;
}

.close:hover {
	opacity: 1;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
	font-size: 24px;
}

@keyframes overlay-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes overlay-hide {
	to {
		opacity: 0;
	}
}

@keyframes content-show {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes content-hide {
	to {
		opacity: 0;
		transform: scale(0.9);
	}
}
