.header {
	--items-spacing: 24px;
	position: sticky;
	inset-block-start: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	block-size: var(--header-block-size);
	padding-inline: 24px;
	background-color: hsl(var(--color-background-hls) / 0.8);
	backdrop-filter: saturate(180%) blur(5px);
	border-block-end: 1px solid var(--color-stroke);
	transition: border-block-end-color 150ms;
}

.contentWrapper {
	display: flex;
	align-items: center;
	column-gap: 32px;
	max-inline-size: 1400px;
	inline-size: 100%;
}

.dresanLogo > path {
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	fill: transparent;
	animation-duration: 5s, 500ms;
	animation-timing-function: linear;
	animation-name: dash, fill;
	animation-delay: 0ms, 500ms;
	animation-fill-mode: forwards;
}

.nav {
	margin-inline-end: auto;
}

.navList {
	display: flex;
	gap: 0 var(--items-spacing);
	list-style: none;
	padding-inline-start: 0;
}

.optionsWrapper {
	display: flex;
	align-items: center;
	gap: 0 var(--items-spacing);
}

@media screen and (max-width: 768px) {
	.nav,
	.optionsWrapper {
		display: none;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	to {
		fill: currentColor;
	}
}
