.wrapper {
	max-inline-size: 800px;
	min-block-size: var(--max-content-block-size);
	padding-inline: var(--space-inline);
	margin-inline: auto;
}

.title {
	padding-block: 32px;
	font-size: 44px;
}

.title,
.disclaimer {
	text-align: center;
}

.postsWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	padding-block: 32px 80px;
}
