.wrapper {
	--safe-space: 5px;
	max-inline-size: 800px;
	min-block-size: calc(
		100dvh - var(--header-block-size) - var(--footer-block-size) - var(--safe-space)
	);
	margin-inline: auto;
	padding-inline: var(--space-inline);
}

.title {
	text-align: center;
	font-size: 44px;
	padding-block: 32px;
}

.postsWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	padding-block: 32px 100px;
}
