.section {
	max-inline-size: 1920px;
	margin-inline: auto;
}

.title {
	display: grid;
	font-size: clamp(2rem, 0.4rem + 8vw, 10rem);
	font-weight: 900;
	line-height: normal;
}

.title > span:last-of-type {
	justify-self: self-end;
}
