.input {
	display: flex;
	inline-size: 100%;
	block-size: 40px;
	padding: 8px 12px;
	font-size: 14px;
	border: 1px solid var(--color-stroke);
	border-radius: 8px;
	background-color: var(--color-background);
	transition: border-color var(--theme-transition-duration),
		box-shadow var(--theme-transition-duration);
}

.input::placeholder {
	color: var(--color-text-secondary);
}

.input:focus-visible {
	outline: none;
	border-color: hsl(0 0% 55%);
	box-shadow: 0 0 0 2px hsl(0 0% 0% / 0.2);
}

[data-theme="dark"] .input:focus-visible {
	border-color: hsl(0 0% 64%);
	box-shadow: 0 0 0 2px hsl(0 0% 27%);
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
