.link {
	display: flex;
	text-decoration: none;
	color: var(--color-text-secondary);
	transition: color 150ms ease;
}

.link:hover {
	color: var(--color-text);
}

.arrowIcon {
	--size: 0.65em;
	inline-size: var(--size);
	block-size: var(--size);
}
