.link {
	display: inline-flex;
	color: var(--color-text-secondary);
	transition: color var(--theme-transition-duration) ease;
}

.link:hover {
	color: var(--color-text);
}

.arrowIcon {
	--size: 0.65em;
	inline-size: var(--size);
	block-size: var(--size);
}
