.section {
	display: grid;
	grid-template-columns: repeat(7, 170px);
	grid-template-rows: repeat(3, 170px);
	gap: 1px;
	inline-size: fit-content;
	margin: var(--space-block) auto;
	border: 1px solid var(--color-stroke);
	background-color: var(--color-stroke);
	transition: background-color 150ms, border-color 150ms;
}

.section > * {
	background-color: var(--color-background);
	transition: background-color 150ms;
}

.section div {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	block-size: 100%;
}

.title {
	grid-column: span 2;
}

.aboutMe {
	grid-column: span 5;
}
