.wrapper {
	padding-inline: var(--space-inline);
	border-block-start: 1px solid var(--color-stroke);
	font-size: clamp(20px, 19.024px + 0.259vw, 24px);
}

.footer {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: space-between;
	align-items: center;
	max-inline-size: var(--max-inline-size);
	min-block-size: 100px;
	margin-inline: auto;
	padding-block: 32px;
}

.year {
	text-wrap: nowrap;
}

.linksWrapper {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.arrowIcon {
	--size: 0.65em;
	inline-size: var(--size);
	block-size: var(--size);
}

.link {
	display: flex;
}
