.title {
	text-align: center;
}

.skillWrapper {
	--min-inline-size: 150px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-inline-size), 1fr));
	max-inline-size: 1200px;
	margin: 32px auto 0;
	border: 1px solid var(--color-stroke);
	overflow: hidden;
	transition: border-color var(--theme-transition-duration);
}

@media screen and (max-width: 360px) {
	.skillWrapper {
		--min-inline-size: 125px;
	}
}
