.button {
	--size: 24px;
	inline-size: var(--size);
	block-size: var(--size);
	padding: 0;
	color: var(--color-text-secondary);
	background-color: transparent;
	border: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	transition: color 150ms ease;
}

.button:hover {
	color: var(--color-text);
}

.sunAndMoon {
	--size: 100%;
	inline-size: var(--size);
	block-size: var(--size);
}

:is(.sun, .sunBeams) {
	transform-origin: center;
}

[data-theme="dark"] .sun {
	transform: scale(1.75);
}

[data-theme="dark"] .sunBeams {
	opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
	.sun {
		transition: transform 500ms var(--ease-elastic-3);
	}

	[data-theme="dark"] .sun {
		transform: scale(1.75);
		transition-timing-function: var(--ease-3);
		transition-duration: 250ms;
	}

	.sunBeams {
		transition: transform 500ms var(--ease-elastic-4), opacity 500ms var(--ease-3);
	}

	[data-theme="dark"] .sunBeams {
		transform: rotate(-25deg);
		transition-duration: 150ms;
	}
}
